// HEADINGS
// ==========================================================================

// Headings 1–6, with corresponding Greek-alphabet abstract classes for double-
// stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css


// Predefine the variables below in order to alter and enable specific features.
$heading-size-1:  30px !default;
$heading-size-2:  26px !default;
$heading-size-3:  20px !default;
$heading-size-4:  18px !default;
$heading-size-5:  16px !default;
$heading-size-6:  14px !default;
$heading-weight:  bold;

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: $color-gray;
  text-transform: uppercase;
  @include font-weight($heading-weight);
}

h1,
.alpha,
%alpha {
  @include font-size( $heading-size-1, 1.2 );
  color: $color-gray-darker;
}

h2,
.beta,
%beta {
  @include font-size($heading-size-2);
}

h3,
.gamma,
%gamma {
  @include font-size($heading-size-3);
}

h4,
.delta,
%delta {
  @include font-size($heading-size-4);
}

h5,
.epsilon,
%epsilon {
  @include font-size($heading-size-5);
}

h6,
.zeta,
%zeta {
  @include font-size($heading-size-6);
}
