// Icons
// ==========================================================================

$fa-font-path: "fonts";
// @import "fontawesome/scss/font-awesome";
@import "fontawesome/scss/variables";
@import "fontawesome/scss/mixins";
@import "fontawesome/scss/path";
@import "fontawesome/scss/core";

// .#{$fa-css-prefix}-facebook:before { content: $fa-var-facebook-square; }
// .#{$fa-css-prefix}-twitter:before { content: $fa-var-twitter-square; }
// .#{$fa-css-prefix}-pinterest:before { content: $fa-var-pinterest-square; }
// .#{$fa-css-prefix}-google-plus:before { content: $fa-var-google-plus-square; }
// .#{$fa-css-prefix}-youtube:before { content: $fa-var-youtube-square; }
// .#{$fa-css-prefix}-angle-right:before { content: $fa-var-angle-right; }
// .#{$fa-css-prefix}-check:before { content: $fa-var-check; }
// .#{$fa-css-prefix}-calendar:before { content: $fa-var-calendar; }
// .#{$fa-css-prefix}-map-marker:before { content: $fa-var-map-marker; }

